In [17]:
import pandas as pd
import numpy as np

In [18]:
hts = pd.read_csv("data/HTS_TST.csv")
pmtct = pd.read_csv("data/PMTCT.csv")
hts.head(5)

,facilityuid,facility,code,ward,sub_county,county,indicator,Indicator Name,period,dhis2_value,datim_value
0,aCOEeeYEcsO,Rabondo Dispensary,14019,West sakwa Ward,Awendo Sub County,Migori County,JiuqbydCIcy,MOH 731 Tested_20-24(F) HV01-07,2019Q4,33,87.0
1,aCOEeeYEcsO,Rabondo Dispensary,14019,West sakwa Ward,Awendo Sub County,Migori County,OePJt8CcZ0d,MOH 731 Tested_1-9 HV01-01,2020Q1,14,13.0
2,aWpElDmioIw,Kuja Dispensary,13724,North sakwa Ward,Awendo Sub County,Migori County,JiuqbydCIcy,MOH 731 Tested_20-24(F) HV01-07,2019Q4,15,53.0
3,aWpElDmioIw,Kuja Dispensary,13724,North sakwa Ward,Awendo Sub County,Migori County,pkShOkgNQt2,MOH 731 Tested_20-24(M) HV01-06,2020Q2,9,10.0
4,aWpElDmioIw,Kuja Dispensary,13724,North sakwa Ward,Awendo Sub County,Migori County,YXJf27jfkvS,MOH 731 Tested_15-19(F) HV01-05,2019Q4,7,39.0

In [19]:
hts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3304 entries, 0 to 3303
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   facilityuid     3304 non-null   object
 1   facility        3304 non-null   object
 2   code            3304 non-null   int64
 3   ward            3304 non-null   object
 4   sub_county      3304 non-null   object
 5   county          3304 non-null   object
 6   indicator       3304 non-null   object
 7   Indicator Name  3304 non-null   object
 8   period          3304 non-null   object
 9   dhis2_value     3304 non-null   int64
 10  datim_value     3273 non-null   float64
dtypes: float64(1), int64(2), object(8)
memory usage: 284.1+ KB

In [20]:
hts.describe()

               code  dhis2_value  datim_value
count   3304.000000  3304.000000  3273.000000
mean   14721.679479    51.367433    56.867400
std     1814.712146    99.956839    98.801622
min    13467.000000     1.000000     1.000000
25%    13741.000000     9.000000    10.000000
50%    13989.000000    25.000000    28.000000
75%    14158.000000    57.000000    68.000000
max    24341.000000  2667.000000  2439.000000

In [21]:
hts.isnull().sum()

facilityuid        0
facility           0
code               0
ward               0
sub_county         0
county             0
indicator          0
Indicator Name     0
period             0
dhis2_value        0
datim_value       31
dtype: int64

In [22]:
# hts['datim_value'].fillna(0, inplace= True)
hts = pmtct.dropna(how="any")
hts

,facilityuid,facility,code,ward,sub_county,county,indicator,indicator_name,period,dhis2_value,datim_value
0,SZnkrFoimi2,Kugitimo Health Centre,13723.0,Nyabasi east Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q1,64.0,64.0
1,xt2lltkTLza,Ntimaru Sub-District Hospital,13858.0,Ntimaru west Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2019Q4,119.0,124.0
2,NoZjHcIDHGW,Kegonga District Hospital,13663.0,Nyabasi east Ward,Kuria East Sub County,Migori County,qSgLzXh46n9,MOH 731 Known Positive at 1st ANC HV02-03,2020Q2,1.0,1.0
3,SZnkrFoimi2,Kugitimo Health Centre,13723.0,Nyabasi east Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q2,46.0,45.0
4,xt2lltkTLza,Ntimaru Sub-District Hospital,13858.0,Ntimaru west Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q1,194.0,191.0
...,...,...,...,...,...,...,...,...,...,...,...
660,H8zbf1TS3qy,Got kachola,19928.0,Got kachola Ward,Nyatike Sub County,Migori County,qSgLzXh46n9,MOH 731 Known Positive at 1st ANC HV02-03,2019Q4,8.0,8.0
661,mQbyKWUNKMs,Oasis Doctors Plaza,20051.0,Oruba Ward,Suna West Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2019Q4,27.0,6.0
662,mQbyKWUNKMs,Oasis Doctors Plaza,20051.0,Oruba Ward,Suna West Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q1,23.0,19.0
663,mQbyKWUNKMs,Oasis Doctors Plaza,20051.0,Oruba Ward,Suna West Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q2,34.0,32.0
664,H8zbf1TS3qy,Got kachola,19928.0,Got kachola Ward,Nyatike Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q2,36.0,35.0

In [23]:
hts.isnull().sum()

facilityuid       0
facility          0
code              0
ward              0
sub_county        0
county            0
indicator         0
indicator_name    0
period            0
dhis2_value       0
datim_value       0
dtype: int64

In [24]:
hts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 661 entries, 0 to 664
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   facilityuid     661 non-null    object
 1   facility        661 non-null    object
 2   code            661 non-null    float64
 3   ward            661 non-null    object
 4   sub_county      661 non-null    object
 5   county          661 non-null    object
 6   indicator       661 non-null    object
 7   indicator_name  661 non-null    object
 8   period          661 non-null    object
 9   dhis2_value     661 non-null    float64
 10  datim_value     661 non-null    float64
dtypes: float64(3), object(8)
memory usage: 62.0+ KB

In [25]:
pmtct.head()

,facilityuid,facility,code,ward,sub_county,county,indicator,indicator_name,period,dhis2_value,datim_value
0,SZnkrFoimi2,Kugitimo Health Centre,13723.0,Nyabasi east Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q1,64.0,64.0
1,xt2lltkTLza,Ntimaru Sub-District Hospital,13858.0,Ntimaru west Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2019Q4,119.0,124.0
2,NoZjHcIDHGW,Kegonga District Hospital,13663.0,Nyabasi east Ward,Kuria East Sub County,Migori County,qSgLzXh46n9,MOH 731 Known Positive at 1st ANC HV02-03,2020Q2,1.0,1.0
3,SZnkrFoimi2,Kugitimo Health Centre,13723.0,Nyabasi east Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q2,46.0,45.0
4,xt2lltkTLza,Ntimaru Sub-District Hospital,13858.0,Ntimaru west Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q1,194.0,191.0

In [26]:
pmtct.describe()

               code  dhis2_value  datim_value
count    669.000000   669.000000   661.000000
mean   14502.946188    40.956652    40.602118
std     1452.078747    54.483417    53.305414
min    13467.000000     1.000000     1.000000
25%    13741.000000     7.000000     7.000000
50%    13988.000000    24.000000    24.000000
75%    14136.000000    51.000000    50.000000
max    20568.000000   434.000000   423.000000

In [27]:
pmtct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 875 entries, 0 to 874
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   facilityuid     669 non-null    object
 1   facility        669 non-null    object
 2   code            669 non-null    float64
 3   ward            669 non-null    object
 4   sub_county      669 non-null    object
 5   county          669 non-null    object
 6   indicator       669 non-null    object
 7   indicator_name  669 non-null    object
 8   period          669 non-null    object
 9   dhis2_value     669 non-null    float64
 10  datim_value     661 non-null    float64
dtypes: float64(3), object(8)
memory usage: 75.3+ KB

In [28]:
pmtct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 875 entries, 0 to 874
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   facilityuid     669 non-null    object
 1   facility        669 non-null    object
 2   code            669 non-null    float64
 3   ward            669 non-null    object
 4   sub_county      669 non-null    object
 5   county          669 non-null    object
 6   indicator       669 non-null    object
 7   indicator_name  669 non-null    object
 8   period          669 non-null    object
 9   dhis2_value     669 non-null    float64
 10  datim_value     661 non-null    float64
dtypes: float64(3), object(8)
memory usage: 75.3+ KB

In [29]:
pmtct.describe()

               code  dhis2_value  datim_value
count    669.000000   669.000000   661.000000
mean   14502.946188    40.956652    40.602118
std     1452.078747    54.483417    53.305414
min    13467.000000     1.000000     1.000000
25%    13741.000000     7.000000     7.000000
50%    13988.000000    24.000000    24.000000
75%    14136.000000    51.000000    50.000000
max    20568.000000   434.000000   423.000000

In [30]:
pmtct = pmtct.dropna(how="any")
pmtct

,facilityuid,facility,code,ward,sub_county,county,indicator,indicator_name,period,dhis2_value,datim_value
0,SZnkrFoimi2,Kugitimo Health Centre,13723.0,Nyabasi east Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q1,64.0,64.0
1,xt2lltkTLza,Ntimaru Sub-District Hospital,13858.0,Ntimaru west Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2019Q4,119.0,124.0
2,NoZjHcIDHGW,Kegonga District Hospital,13663.0,Nyabasi east Ward,Kuria East Sub County,Migori County,qSgLzXh46n9,MOH 731 Known Positive at 1st ANC HV02-03,2020Q2,1.0,1.0
3,SZnkrFoimi2,Kugitimo Health Centre,13723.0,Nyabasi east Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q2,46.0,45.0
4,xt2lltkTLza,Ntimaru Sub-District Hospital,13858.0,Ntimaru west Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q1,194.0,191.0
...,...,...,...,...,...,...,...,...,...,...,...
660,H8zbf1TS3qy,Got kachola,19928.0,Got kachola Ward,Nyatike Sub County,Migori County,qSgLzXh46n9,MOH 731 Known Positive at 1st ANC HV02-03,2019Q4,8.0,8.0
661,mQbyKWUNKMs,Oasis Doctors Plaza,20051.0,Oruba Ward,Suna West Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2019Q4,27.0,6.0
662,mQbyKWUNKMs,Oasis Doctors Plaza,20051.0,Oruba Ward,Suna West Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q1,23.0,19.0
663,mQbyKWUNKMs,Oasis Doctors Plaza,20051.0,Oruba Ward,Suna West Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q2,34.0,32.0
664,H8zbf1TS3qy,Got kachola,19928.0,Got kachola Ward,Nyatike Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q2,36.0,35.0

In [31]:
hts_df = hts.groupby(['facilityuid', 'period']).agg({'dhis2_value': 'sum', 'datim_value': 'sum'})

# print the resulting dataframe
print(hts_df)

                    dhis2_value  datim_value
facilityuid period
B8Y8xuk4MFf 2019Q4         42.0         40.0
            2020Q1         44.0         43.0
            2020Q2         47.0         47.0
BSIVRetkq9o 2019Q4         48.0         50.0
            2020Q1         59.0         58.0
...                         ...          ...
z3nMgma1Kt1 2020Q1         26.0         25.0
            2020Q2         44.0         42.0
zwV7ekHDAwe 2019Q4         66.0         66.0
            2020Q1         93.0         85.0
            2020Q2         57.0         56.0

[360 rows x 2 columns]

In [32]:
hts_df = hts_df.reset_index()
hts_df

     facilityuid  period  dhis2_value  datim_value
0    B8Y8xuk4MFf  2019Q4         42.0         40.0
1    B8Y8xuk4MFf  2020Q1         44.0         43.0
2    B8Y8xuk4MFf  2020Q2         47.0         47.0
3    BSIVRetkq9o  2019Q4         48.0         50.0
4    BSIVRetkq9o  2020Q1         59.0         58.0
..           ...     ...          ...          ...
355  z3nMgma1Kt1  2020Q1         26.0         25.0
356  z3nMgma1Kt1  2020Q2         44.0         42.0
357  zwV7ekHDAwe  2019Q4         66.0         66.0
358  zwV7ekHDAwe  2020Q1         93.0         85.0
359  zwV7ekHDAwe  2020Q2         57.0         56.0

[360 rows x 4 columns]

In [33]:
hts_df = hts_df.rename(columns={'dhis2_value': 'total_dhis2_value', 'datim_value': 'total_datim_value'})
hts_df

     facilityuid  period  total_dhis2_value  total_datim_value
0    B8Y8xuk4MFf  2019Q4               42.0               40.0
1    B8Y8xuk4MFf  2020Q1               44.0               43.0
2    B8Y8xuk4MFf  2020Q2               47.0               47.0
3    BSIVRetkq9o  2019Q4               48.0               50.0
4    BSIVRetkq9o  2020Q1               59.0               58.0
..           ...     ...                ...                ...
355  z3nMgma1Kt1  2020Q1               26.0               25.0
356  z3nMgma1Kt1  2020Q2               44.0               42.0
357  zwV7ekHDAwe  2019Q4               66.0               66.0
358  zwV7ekHDAwe  2020Q1               93.0               85.0
359  zwV7ekHDAwe  2020Q2               57.0               56.0

[360 rows x 4 columns]

In [34]:
hts_df["difference"] = hts_df["total_dhis2_value"] - hts_df["total_datim_value"]
hts_df

     facilityuid  period  total_dhis2_value  total_datim_value  difference
0    B8Y8xuk4MFf  2019Q4               42.0               40.0         2.0
1    B8Y8xuk4MFf  2020Q1               44.0               43.0         1.0
2    B8Y8xuk4MFf  2020Q2               47.0               47.0         0.0
3    BSIVRetkq9o  2019Q4               48.0               50.0        -2.0
4    BSIVRetkq9o  2020Q1               59.0               58.0         1.0
..           ...     ...                ...                ...         ...
355  z3nMgma1Kt1  2020Q1               26.0               25.0         1.0
356  z3nMgma1Kt1  2020Q2               44.0               42.0         2.0
357  zwV7ekHDAwe  2019Q4               66.0               66.0         0.0
358  zwV7ekHDAwe  2020Q1               93.0               85.0         8.0
359  zwV7ekHDAwe  2020Q2               57.0               56.0         1.0

[360 rows x 5 columns]

In [35]:
hts_df["percentage_difference"] = abs((hts_df["difference"] / hts_df["total_datim_value"]) * 100)
hts_df

,facilityuid,period,total_dhis2_value,total_datim_value,difference,percentage_difference
0,B8Y8xuk4MFf,2019Q4,42.0,40.0,2.0,5.000000
1,B8Y8xuk4MFf,2020Q1,44.0,43.0,1.0,2.325581
2,B8Y8xuk4MFf,2020Q2,47.0,47.0,0.0,0.000000
3,BSIVRetkq9o,2019Q4,48.0,50.0,-2.0,4.000000
4,BSIVRetkq9o,2020Q1,59.0,58.0,1.0,1.724138
...,...,...,...,...,...,...
355,z3nMgma1Kt1,2020Q1,26.0,25.0,1.0,4.000000
356,z3nMgma1Kt1,2020Q2,44.0,42.0,2.0,4.761905
357,zwV7ekHDAwe,2019Q4,66.0,66.0,0.0,0.000000
358,zwV7ekHDAwe,2020Q1,93.0,85.0,8.0,9.411765
359,zwV7ekHDAwe,2020Q2,57.0,56.0,1.0,1.785714

In [38]:
pmtct_df = pmtct.groupby(['facilityuid', 'period']).agg({'dhis2_value': 'sum', 'datim_value': 'sum'})

# print the resulting dataframe
print(pmtct)

     facilityuid                       facility     code               ward  \
0    SZnkrFoimi2         Kugitimo Health Centre  13723.0  Nyabasi east Ward
1    xt2lltkTLza  Ntimaru Sub-District Hospital  13858.0  Ntimaru west Ward
2    NoZjHcIDHGW      Kegonga District Hospital  13663.0  Nyabasi east Ward
3    SZnkrFoimi2         Kugitimo Health Centre  13723.0  Nyabasi east Ward
4    xt2lltkTLza  Ntimaru Sub-District Hospital  13858.0  Ntimaru west Ward
..           ...                            ...      ...                ...
660  H8zbf1TS3qy                    Got kachola  19928.0   Got kachola Ward
661  mQbyKWUNKMs            Oasis Doctors Plaza  20051.0         Oruba Ward
662  mQbyKWUNKMs            Oasis Doctors Plaza  20051.0         Oruba Ward
663  mQbyKWUNKMs            Oasis Doctors Plaza  20051.0         Oruba Ward
664  H8zbf1TS3qy                    Got kachola  19928.0   Got kachola Ward

                sub_county         county    indicator  \
0    Kuria East Sub County  Migori County  ETX9cUWF43c
1    Kuria East Sub County  Migori County  ETX9cUWF43c
2    Kuria East Sub County  Migori County  qSgLzXh46n9
3    Kuria East Sub County  Migori County  ETX9cUWF43c
4    Kuria East Sub County  Migori County  ETX9cUWF43c
..                     ...            ...          ...
660     Nyatike Sub County  Migori County  qSgLzXh46n9
661   Suna West Sub County  Migori County  ETX9cUWF43c
662   Suna West Sub County  Migori County  ETX9cUWF43c
663   Suna West Sub County  Migori County  ETX9cUWF43c
664     Nyatike Sub County  Migori County  ETX9cUWF43c

                                        indicator_name  period  dhis2_value  \
0           MOH 731  Initial test at ANC       HV02-04  2020Q1         64.0
1           MOH 731  Initial test at ANC       HV02-04  2019Q4        119.0
2    MOH 731  Known Positive at 1st  ANC       HV02-03  2020Q2          1.0
3           MOH 731  Initial test at ANC       HV02-04  2020Q2         46.0
4           MOH 731  Initial test at ANC       HV02-04  2020Q1        194.0
..                                                 ...     ...          ...
660  MOH 731  Known Positive at 1st  ANC       HV02-03  2019Q4          8.0
661         MOH 731  Initial test at ANC       HV02-04  2019Q4         27.0
662         MOH 731  Initial test at ANC       HV02-04  2020Q1         23.0
663         MOH 731  Initial test at ANC       HV02-04  2020Q2         34.0
664         MOH 731  Initial test at ANC       HV02-04  2020Q2         36.0

     datim_value
0           64.0
1          124.0
2            1.0
3           45.0
4          191.0
..           ...
660          8.0
661          6.0
662         19.0
663         32.0
664         35.0

[661 rows x 11 columns]

In [41]:
pmtct_df = pmtct_df.rename(columns={'dhis2_value': 'total_pmtct_dhis2_value', 'datim_value': 'total_pmtct_datim_value'})
pmtct_df

     facilityuid  period  total_pmtct_dhis2_value  total_pmtct_datim_value
0    B8Y8xuk4MFf  2019Q4                     42.0                     40.0
1    B8Y8xuk4MFf  2020Q1                     44.0                     43.0
2    B8Y8xuk4MFf  2020Q2                     47.0                     47.0
3    BSIVRetkq9o  2019Q4                     48.0                     50.0
4    BSIVRetkq9o  2020Q1                     59.0                     58.0
..           ...     ...                      ...                      ...
355  z3nMgma1Kt1  2020Q1                     26.0                     25.0
356  z3nMgma1Kt1  2020Q2                     44.0                     42.0
357  zwV7ekHDAwe  2019Q4                     66.0                     66.0
358  zwV7ekHDAwe  2020Q1                     93.0                     85.0
359  zwV7ekHDAwe  2020Q2                     57.0                     56.0

[360 rows x 4 columns]

In [42]:
pmtct_df = pmtct_df.reset_index()
pmtct_df

,index,facilityuid,period,total_pmtct_dhis2_value,total_pmtct_datim_value
0,0,B8Y8xuk4MFf,2019Q4,42.0,40.0
1,1,B8Y8xuk4MFf,2020Q1,44.0,43.0
2,2,B8Y8xuk4MFf,2020Q2,47.0,47.0
3,3,BSIVRetkq9o,2019Q4,48.0,50.0
4,4,BSIVRetkq9o,2020Q1,59.0,58.0
...,...,...,...,...,...
355,355,z3nMgma1Kt1,2020Q1,26.0,25.0
356,356,z3nMgma1Kt1,2020Q2,44.0,42.0
357,357,zwV7ekHDAwe,2019Q4,66.0,66.0
358,358,zwV7ekHDAwe,2020Q1,93.0,85.0
359,359,zwV7ekHDAwe,2020Q2,57.0,56.0

In [43]:
merged_data = pd.merge(hts_df, pmtct_df, on=["facilityuid", "period"])
merged_data

,facilityuid,period,total_dhis2_value,total_datim_value,difference,percentage_difference,index,total_pmtct_dhis2_value,total_pmtct_datim_value
0,B8Y8xuk4MFf,2019Q4,42.0,40.0,2.0,5.000000,0,42.0,40.0
1,B8Y8xuk4MFf,2020Q1,44.0,43.0,1.0,2.325581,1,44.0,43.0
2,B8Y8xuk4MFf,2020Q2,47.0,47.0,0.0,0.000000,2,47.0,47.0
3,BSIVRetkq9o,2019Q4,48.0,50.0,-2.0,4.000000,3,48.0,50.0
4,BSIVRetkq9o,2020Q1,59.0,58.0,1.0,1.724138,4,59.0,58.0
...,...,...,...,...,...,...,...,...,...
355,z3nMgma1Kt1,2020Q1,26.0,25.0,1.0,4.000000,355,26.0,25.0
356,z3nMgma1Kt1,2020Q2,44.0,42.0,2.0,4.761905,356,44.0,42.0
357,zwV7ekHDAwe,2019Q4,66.0,66.0,0.0,0.000000,357,66.0,66.0
358,zwV7ekHDAwe,2020Q1,93.0,85.0,8.0,9.411765,358,93.0,85.0
359,zwV7ekHDAwe,2020Q2,57.0,56.0,1.0,1.785714,359,57.0,56.0

In [45]:
merged_data = merged_data.drop("index", axis=1)
merged_data

,facilityuid,period,total_dhis2_value,total_datim_value,difference,percentage_difference,total_pmtct_dhis2_value,total_pmtct_datim_value
0,B8Y8xuk4MFf,2019Q4,42.0,40.0,2.0,5.000000,42.0,40.0
1,B8Y8xuk4MFf,2020Q1,44.0,43.0,1.0,2.325581,44.0,43.0
2,B8Y8xuk4MFf,2020Q2,47.0,47.0,0.0,0.000000,47.0,47.0
3,BSIVRetkq9o,2019Q4,48.0,50.0,-2.0,4.000000,48.0,50.0
4,BSIVRetkq9o,2020Q1,59.0,58.0,1.0,1.724138,59.0,58.0
...,...,...,...,...,...,...,...,...
355,z3nMgma1Kt1,2020Q1,26.0,25.0,1.0,4.000000,26.0,25.0
356,z3nMgma1Kt1,2020Q2,44.0,42.0,2.0,4.761905,44.0,42.0
357,zwV7ekHDAwe,2019Q4,66.0,66.0,0.0,0.000000,66.0,66.0
358,zwV7ekHDAwe,2020Q1,93.0,85.0,8.0,9.411765,93.0,85.0
359,zwV7ekHDAwe,2020Q2,57.0,56.0,1.0,1.785714,57.0,56.0

In [59]:
# len(merged_data[merged_data['percentage_difference'] > 30])
cutoff = merged_data["percentage_difference"].mean()

z = merged_data[merged_data['percentage_difference'] > cutoff]
z

,facilityuid,period,total_dhis2_value,total_datim_value,difference,percentage_difference,total_pmtct_dhis2_value,total_pmtct_datim_value
26,EzccfHE7VSe,2019Q4,14.0,13.0,1.0,7.692308,14.0,13.0
28,EzccfHE7VSe,2020Q2,19.0,26.0,-7.0,26.923077,19.0,26.0
29,FH1lPSOnK9z,2019Q4,37.0,53.0,-16.0,30.188679,37.0,53.0
37,FpS8TixqWn4,2020Q1,51.0,40.0,11.0,27.500000,51.0,40.0
45,G4FemD36hGF,2019Q4,34.0,47.0,-13.0,27.659574,34.0,47.0
46,G4FemD36hGF,2020Q1,38.0,59.0,-21.0,35.593220,38.0,59.0
48,GNwx6r3BZ8O,2019Q4,10.0,8.0,2.0,25.000000,10.0,8.0
50,GNwx6r3BZ8O,2020Q2,2.0,4.0,-2.0,50.000000,2.0,4.0
52,H8zbf1TS3qy,2020Q1,59.0,54.0,5.0,9.259259,59.0,54.0
57,I2z6MT7pHrX,2019Q4,28.0,42.0,-14.0,33.333333,28.0,42.0
60,IH4gWpzva9S,2019Q4,27.0,25.0,2.0,8.000000,27.0,25.0
63,ImG6wgclN06,2019Q4,81.0,120.0,-39.0,32.500000,81.0,120.0
68,JJHQ16uTrPX,2020Q2,53.0,41.0,12.0,29.268293,53.0,41.0
78,KpXqE32Rm1d,2019Q4,30.0,26.0,4.0,15.384615,30.0,26.0
80,KpXqE32Rm1d,2020Q2,28.0,25.0,3.0,12.000000,28.0,25.0
82,LFBf0WwBzaX,2020Q1,101.0,93.0,8.0,8.602151,101.0,93.0
83,LFBf0WwBzaX,2020Q2,62.0,92.0,-30.0,32.608696,62.0,92.0
84,LGgFPRuWpws,2019Q4,42.0,50.0,-8.0,16.000000,42.0,50.0
92,LYR8fhhFOaQ,2020Q2,32.0,29.0,3.0,10.344828,32.0,29.0
94,MQcFGwW1QsE,2020Q1,40.0,49.0,-9.0,18.367347,40.0,49.0
102,NRf14PUD9xc,2019Q4,141.0,129.0,12.0,9.302326,141.0,129.0
126,QzrC7FpTOCf,2019Q4,9.0,8.0,1.0,12.500000,9.0,8.0
127,QzrC7FpTOCf,2020Q1,12.0,11.0,1.0,9.090909,12.0,11.0
129,RPdnWtp0vRd,2019Q4,5.0,4.0,1.0,25.000000,5.0,4.0
130,RPdnWtp0vRd,2020Q1,20.0,26.0,-6.0,23.076923,20.0,26.0
131,RPdnWtp0vRd,2020Q2,12.0,11.0,1.0,9.090909,12.0,11.0
139,SPfT81d1gVx,2020Q1,75.0,81.0,-6.0,7.407407,75.0,81.0
140,SPfT81d1gVx,2020Q2,45.0,60.0,-15.0,25.000000,45.0,60.0
144,Sepsy4Bb35C,2019Q4,90.0,77.0,13.0,16.883117,90.0,77.0
157,UY3IInX1rgt,2020Q1,15.0,13.0,2.0,15.384615,15.0,13.0
163,Uvv85m35TMs,2020Q1,55.0,60.0,-5.0,8.333333,55.0,60.0
164,Uvv85m35TMs,2020Q2,32.0,52.0,-20.0,38.461538,32.0,52.0
169,WDe0umtdbif,2020Q1,17.0,11.0,6.0,54.545455,17.0,11.0
170,WDe0umtdbif,2020Q2,25.0,14.0,11.0,78.571429,25.0,14.0
210,aWpElDmioIw,2019Q4,22.0,27.0,-5.0,18.518519,22.0,27.0
215,bi747puqsrA,2020Q2,30.0,27.0,3.0,11.111111,30.0,27.0
221,cZQlPWrhosA,2020Q2,38.0,43.0,-5.0,11.627907,38.0,43.0
225,cdSguOsrorH,2019Q4,24.0,45.0,-21.0,46.666667,24.0,45.0
232,dW7oScLnDy2,2020Q1,23.0,21.0,2.0,9.523810,23.0,21.0
250,fzoNOK6Nrqc,2020Q1,54.0,63.0,-9.0,14.285714,54.0,63.0
261,ghUdW9zdUuu,2019Q4,59.0,18.0,41.0,227.777778,59.0,18.0
262,ghUdW9zdUuu,2020Q1,11.0,16.0,-5.0,31.250000,11.0,16.0
264,hHb5SzuuyHK,2019Q4,65.0,51.0,14.0,27.450980,65.0,51.0
285,kVVmxGZKCfA,2019Q4,37.0,65.0,-28.0,43.076923,37.0,65.0
294,mQbyKWUNKMs,2019Q4,32.0,8.0,24.0,300.000000,32.0,8.0
300,nNxsnNursRY,2019Q4,45.0,30.0,15.0,50.000000,45.0,30.0
302,nNxsnNursRY,2020Q2,39.0,36.0,3.0,8.333333,39.0,36.0
303,naa6PTuNZM4,2019Q4,12.0,20.0,-8.0,40.000000,12.0,20.0
304,naa6PTuNZM4,2020Q1,10.0,9.0,1.0,11.111111,10.0,9.0
305,naa6PTuNZM4,2020Q2,11.0,10.0,1.0,10.000000,11.0,10.0
312,orKDpItM56v,2019Q4,30.0,43.0,-13.0,30.232558,30.0,43.0
321,q3Hiw70svzH,2019Q4,34.0,44.0,-10.0,22.727273,34.0,44.0
325,sAMKlirWAu6,2020Q1,60.0,73.0,-13.0,17.808219,60.0,73.0
332,sJHMc412zV6,2020Q2,51.0,46.0,5.0,10.869565,51.0,46.0
333,sR008hvpu5e,2019Q4,20.0,10.0,10.0,100.000000,20.0,10.0
334,sR008hvpu5e,2020Q1,11.0,7.0,4.0,57.142857,11.0,7.0
345,xa8ZMxIarv6,2019Q4,56.0,69.0,-13.0,18.840580,56.0,69.0
346,xa8ZMxIarv6,2020Q1,92.0,85.0,7.0,8.235294,92.0,85.0
358,zwV7ekHDAwe,2020Q1,93.0,85.0,8.0,9.411765,93.0,85.0

In [57]:
merged_data.describe()

,total_dhis2_value,total_datim_value,difference,percentage_difference,total_pmtct_dhis2_value,total_pmtct_datim_value
count,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000
mean,75.741667,74.550000,1.191667,7.158811,75.741667,74.550000
std,68.231193,65.963928,6.217008,22.344105,68.231193,65.963928
min,1.000000,1.000000,-39.000000,0.000000,1.000000,1.000000
25%,37.000000,37.000000,0.000000,0.000000,37.000000,37.000000
50%,54.000000,53.500000,1.000000,2.439024,54.000000,53.500000
75%,90.250000,85.500000,3.000000,5.263158,90.250000,85.500000
max,496.000000,465.000000,41.000000,300.000000,496.000000,465.000000

In [ ]:
# define a lambda function with if-else conditions
def accept(x):
    if x < 5:
        return 'yes'
    else:

        return 'no'


# apply the lambda function to the 'score' column and assign the result to a new column 'grade'
merged_data['accept'] = df['percentage_difference'].apply(lambda x: accept(x))
df